/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/

/*========== Colors ==========*/

/*========== Font family ==========*/

/*========== Font sizes ==========*/

/*========== Font weight ==========*/

/* Responsive typography */

/*=============== BASE ===============*/

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== SECTION TITLE ===============*/

/*=============== BUTTON ===============*/

/*=============== LAYOUT ===============*/

/*=============== HEADER ===============*/

/*========== Topbar ==========*/

/*========== Bottom bar ==========*/

/*========== Navbar ==========*/

/*=============== HOME ===============*/

/* Swiper */

/*=============== PRODUCTS ===============*/

/*=============== CATEGORIES ===============*/

/*=============== FEATURES ===============*/

/*=============== PRODUCTS ===============*/

/*=============== CATEGORY ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/*=============== BANNER ===============*/

/*=============== SHOP ===============*/

/*========== Top ==========*/

/*========== Filters ==========*/

/*========== Products ==========*/

/*========== Pagination ==========*/

/*=============== DETAILS ===============*/

/*=============== DETAILS CONTENT ===============*/

/*=============== ACCOUNT ===============*/

/*=============== CART ===============*/

/*=============== CART BOTTOM ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== RETURNS ===============*/

/*=============== STEPS ===============*/

/*=============== ACCORDION ===============*/

/*=============== CONTACT ===============*/

/*=============== ACCORDION ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */

/* For medium devices */

/* For small devices */
